  <tr>
    <td><%= afternoon.title.upcase %></td>
     <td>Published <%= distance_of_time_in_words(afternoon.created_at, Time.now) %> ago</td>
    <td><%= afternoon.body %></td>
    <td><%= link_to 'Show', afternoon %></td>
  	<td><%= link_to 'Edit', edit_afternoon_path(afternoon) if logged_in?(:site_admin) %></td>
  	<td><%= link_to 'Delete Post', afternoon, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></td>
  </tr>